<div class="flex flex-col">
  <div>
    <app-select-label
      label="Please select your diet"
      align="left"
      class="flex-none"
    ></app-select-label>
  </div>
  <div class="h-32 flex flex-wrap mt-10">
    <app-multiple-choice-item
      *ngFor="let item of items; trackBy: trackByItemId"
      [input]="item"
      [disabled]="exclusiveItemSelected && !item.selected"
      (output)="multipleChoiceItemUpdate($event)"
    >
    </app-multiple-choice-item>
  </div>
  <div class="flex justify-end mt-10">
    <app-form-button
      text="Save"
      (clicked)="multipleChoiceSaveClicked()"
    ></app-form-button>
  </div>
</div>
