<ion-content>
  <div class="wrapper">
    <div class="left">
      <ion-toolbar>
        <ion-title class="ubuntu-sans-mono">Meal Planner / Palette</ion-title>
      </ion-toolbar>
      <div class="left-content">
        <img
          class="fit-picture"
          src="assets/img/logo.svg"
          alt="Grapefruit slice atop a pile of other slices"
        />
      </div>
    </div>
    <div class="right">
      <ion-toolbar class="toolbar-right">
        <ion-buttons slot="end">
          <ion-button class="toolbar-button ubuntu-sans-mono">
            Register
          </ion-button>
          <ion-button class="toolbar-button ubuntu-sans-mono">
            Forgot password
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </div>
  </div>
</ion-content>
