<ion-content>
  <div class="wrapper">
    <div class="left">
      <ion-toolbar>
        <ion-title class="ubuntu-sans-mono">Meal Planner / Palette</ion-title>
      </ion-toolbar>
      <div class="logo-content">
        <img
          class="fit-picture"
          src="assets/img/logo.svg"
          alt="Grapefruit slice atop a pile of other slices"
        />
      </div>
    </div>
    <div class="right">
      <ion-toolbar class="toolbar-right">
        <ion-buttons slot="end">
          <ion-button class="toolbar-button ubuntu-sans-mono">
            Register
          </ion-button>
          <ion-button class="toolbar-button ubuntu-sans-mono">
            Forgot password
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="login-content"
      >
        <div class="login-form">
          <div class="login-form-title">
            <h1 class="ubuntu-sans-mono uppercase">Login</h1>
          </div>
          <div class="login-form-inputs">
            <input
              placeholder="EMAIL"
              class="login-input ubuntu-sans-mono uppercase"
              formControlName="email"
            />
            <div
              *ngIf="this.submitted && this.loginForm.controls['email'].errors"
              class="form-input-box"
            >
              <p
                *ngIf="this.loginForm.controls['email'].errors['email']"
                class="form-input-error"
              >
                Not an email
              </p>
              <p
                *ngIf="this.loginForm.controls['email'].errors['required']"
                class="form-input-error"
              >
                Required
              </p>
            </div>

            <input
              placeholder="PASSWORD"
              class="login-input"
              formControlName="password"
            />
            <div
              *ngIf="
                this.submitted && this.loginForm.controls['password'].errors
              "
              class="form-input-box"
            >
              <p
                *ngIf="this.loginForm.controls['password'].errors['required']"
                class="form-input-error"
              >
                Required
              </p>
            </div>
          </div>
          <div class="login-form-submit">
            <ion-button class="toolbar-button ubuntu-sans-mono" type="submit"
              >Login</ion-button
            >
          </div>
        </div>
      </form>
    </div>
    <ion-footer>
      <ion-buttons>
        <ion-button class="toolbar-button ubuntu-sans-mono">
          Register
        </ion-button>
        <ion-button class="toolbar-button ubuntu-sans-mono">
          Forgot password
        </ion-button>
      </ion-buttons>
    </ion-footer>
  </div>
</ion-content>
