<div class="flex flex-col w-72 border">
  <div class="h-40 bg-red flex flex-col justify-center overflow-hidden">
    <h3 class="font-ubunutu_sans_mono uppercase m-5 text-2xl line-clamp-3">
      {{ this.recipe.recipeName }}
    </h3>
  </div>
  <div class="h-52 bg-yellow overflow-hidden">
    <p class="font-kalam m-5 text-base line-clamp-6">
      {{ this.recipe.simplifiedIngredientsList }}
    </p>
  </div>
  <div class="h-10">
    <button
      (click)="buttonClicked()"
      class="w-full bg-button_bg hover:bg-button_bg_hover active:bg-button_bg_active focus:bg-button_bg_focus disabled:bg-button_bg_disabled rounded-none py-2 px-8 font-ubunutu_sans_mono uppercase transition-colors duration-150"
    >
      Add to selection
    </button>
  </div>
</div>
