ion-title {
  text-align: left;
  --padding-left: 20px;
  text-transform: uppercase;
}

ion-toolbar {
  --background: var(--app-background-light);
  --color: var(--app-text-dark);
  --border-color: var(--app-background-light);

  --min-height: 50px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}
