ion-title {
  text-align: left;

  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;

  text-transform: uppercase;

  padding-left: 5%;
}

ion-toolbar {
  --background: var(--app-background-light);
  --color: var(--app-text-dark);
  --border-color: var(--app-background-light);

  --min-height: 50px;
}
