<ion-content>
  <div class="wrapper">
    <ion-card class="recipes">
      <ion-card-header>
        <ion-card-title>Recipes</ion-card-title>
        <ion-card-subtitle>Select the recipes you wish for</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item-sliding
            *ngFor="let item of this.recipes; index as i"
            #slidingItem
          >
            <ion-item detail="false">
              <div class="unread-indicator-wrapper" slot="start">
                <div class="unread-indicator" *ngIf="item.locked"></div>
              </div>
              <ion-label>
                <strong>{{ this.prettifyRecipeName(item.recipe.name) }} </strong
                ><br />
                <ion-text>{{ item.recipe.recipeCuisine }}</ion-text
                ><br />
                <ion-note color="medium" class="ion-text-wrap">
                  {{
                    this.giveMeSimpleIngredientList(
                      item.recipe.recipeIngredient
                    )
                  }}
                </ion-note>
              </ion-label>
              <div class="metadata-end-wrapper" slot="end">
                <ion-note color="medium">{{
                  this.prettifyPrepTime(item.recipe.totalTime)
                }}</ion-note>
                <ion-icon color="medium" name="chevron-forward"></ion-icon>
              </div>
            </ion-item>
            <ion-item-options slot="end">
              <ion-item-option (click)="lockItem(i)">Lock</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-card-content>

      <div>
        <ion-button fill="clear" (click)="refresh()">Refresh</ion-button>
      </div>
    </ion-card>
    <ion-card class="cart">
      <ion-card-header>
        <ion-card-title>Cart</ion-card-title>
        <ion-card-subtitle>Shopping list to make the recipes</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item
            *ngFor="let item of this.simplifiedIngredientsList; index as i"
          >
            <ion-checkbox
              slot="start"
              aria-label="Toggle task completion"
            ></ion-checkbox>
            <ion-input aria-label="Task name" value="{{ item }}"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
