.wrapper {
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-template-rows: 1fr;
  height: 100vh;
  /* overflow-y: hidden; */
  padding: 50px;
  gap: 15px;
}

ion-card {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 10fr 1fr;
}

ion-card-content {
  overflow-y: scroll;
}

.unread-indicator {
  background: var(--ion-color-primary);

  width: 10px;
  height: 10px;

  border-radius: 100%;

  position: absolute;

  inset-inline-start: 12px;
  top: 12px;
}

.metadata-end-wrapper {
  position: absolute;

  top: 10px;
  inset-inline-end: 10px;

  font-size: 0.8rem;

  display: flex;
  align-items: center;
}
