<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="ubuntu-sans-mono">Meal Planner / Palette</ion-title>
      <ion-buttons slot="end">
        <ion-button class="toolbar-button ubuntu-sans-mono" (click)="refresh()">
          Refresh
        </ion-button>
        @if (this.isSendingEmail) {
        <ion-button class="toolbar-button ubuntu-sans-mono">
          <ion-spinner name="dots"></ion-spinner>
        </ion-button>
        } @else {
        <ion-button
          class="toolbar-button ubuntu-sans-mono"
          (click)="sendRecipesByEmail()"
        >
          Send to email
        </ion-button>
        }
        <ion-button class="toolbar-button ubuntu-sans-mono">
          Options
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    @if (recipesLoaded) {
    <ion-card *ngFor="let recipe of recipes">
      <ion-card-header
        [ngClass]="recipe.recipe.diet === 'Non-Meat' ? 'veggie' : 'meatie'"
      >
        <ion-card-title class="ubuntu-sans-mono">{{
          this.prettifyRecipeName(recipe.recipe.name)
        }}</ion-card-title>
      </ion-card-header>

      <ion-card-content class="ubuntu-sans-mono">
        {{ this.giveMeSimpleIngredientList(recipe.recipe.recipeIngredient) }}
      </ion-card-content>
    </ion-card>
    } @else {
    <ion-card>
      <ion-card-header class="veggie">
        <ion-card-title class="ubuntu-sans-mono"
          ><ion-skeleton-text [animated]="true" style="width: 50%"
            ><br /></ion-skeleton-text
        ></ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      </ion-card-header>

      <ion-card-content>
        <ion-skeleton-text
          [animated]="true"
          style="width: 100%; height: 60px"
        ></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header class="veggie">
        <ion-card-title class="ubuntu-sans-mono"
          ><ion-skeleton-text [animated]="true" style="width: 50%"
            ><br /></ion-skeleton-text
        ></ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      </ion-card-header>

      <ion-card-content>
        <ion-skeleton-text
          [animated]="true"
          style="width: 100%; height: 60px"
        ></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header class="veggie">
        <ion-card-title class="ubuntu-sans-mono"
          ><ion-skeleton-text [animated]="true" style="width: 50%"
            ><br /></ion-skeleton-text
        ></ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      </ion-card-header>

      <ion-card-content>
        <ion-skeleton-text
          [animated]="true"
          style="width: 100%; height: 60px"
        ></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    }
  </div>
</ion-content>
