.wrapper {
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-template-rows: 1fr;
  height: 100vh;
  /* overflow-y: hidden; */
  padding: 50px;
}

ion-card {
  height: 100%;
}

ion-card-content {
  height: 87%;
  overflow-y: scroll;
}
