<ion-menu side="end" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ubuntu-sans-mono basket-title">Basket</ion-title>
      <ion-buttons slot="end">
        <ion-button class="basket-button"
          ><ion-icon slot="icon-only" src="assets/icons/cross.svg"></ion-icon
        ></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    @if (basketRecipes.length > 0) {
    <div class="basket-recipes-list">
      @for (recipe of basketRecipes; track recipe.id) {
      <div
        class="basket-recipe-item ubuntu-sans-mono"
        [ngClass]="recipe.recipeDiet === 'Non-Meat' ? 'veggie' : 'meatie'"
      >
        <span class="recipe-name">{{ recipe.recipeName }}</span>
        <div class="recipe-buttons">
          <ion-button
            class="recipe-action-button ubuntu-sans-mono"
            (click)="this.removeRecipeFromBasket(recipe)"
            >REMOVE<ion-icon
              slot="end"
              src="../../assets/icon/cart-delete.svg"
            ></ion-icon
          ></ion-button>
          <ion-button
            class="recipe-action-button ubuntu-sans-mono"
            (click)="this.openRecipeUrl(recipe)"
            >VIEW<ion-icon
              slot="end"
              src="../../assets/icon/zoom-in.svg"
            ></ion-icon
          ></ion-button>
        </div>
      </div>
      }
    </div>
    } @else {
    <div class="empty-basket ubuntu-sans-mono">No recipes in basket yet</div>
    }
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <div class="menu-footer-button-container">
        <ion-button class="menu-footer-button ubuntu-sans-mono">
          Send to Email<ion-icon
            slot="end"
            src="../../assets/icon/send.svg"
          ></ion-icon>
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-title class="ubuntu-sans-mono">Meal Planner / Palette</ion-title>
    <ion-buttons slot="end">
      <ion-button
        class="toolbar-button ubuntu-sans-mono"
        (click)="fullPaletteRefresh()"
      >
        Refresh
      </ion-button>
      <!-- @if (this.isSendingEmail) {
      <ion-button class="toolbar-button ubuntu-sans-mono">
        <ion-spinner name="dots"></ion-spinner>
      </ion-button>
      } @else {
      <ion-button
        class="toolbar-button ubuntu-sans-mono"
        (click)="sendRecipesByEmail()"
      >
        Send to email
      </ion-button>
      } -->
      <ion-button
        class="toolbar-button ubuntu-sans-mono"
        (click)="presentToast('bottom', 'Test', 'success')"
      >
        Options
      </ion-button>
      <ion-menu-toggle>
        <ion-button class="toolbar-button ubuntu-sans-mono"
          >Basket ({{ this.basketRecipes.length }})</ion-button
        >
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content id="main-content">
  <div class="container-landscape">
    @if (recipesLoaded) {
    <ion-card *ngFor="let recipe of paletteRecipes; let i = index">
      <ion-card-header
        [ngClass]="recipe.recipeDiet === 'Non-Meat' ? 'veggie' : 'meatie'"
      >
        <ion-card-title class="ubuntu-sans-mono">{{
          recipe.recipeName
        }}</ion-card-title>
      </ion-card-header>

      <ion-card-content class="kalam ingredients-list">
        <p class="ubuntu-sans-mono">
          {{ recipe.recipeTotalTime | uppercase }}
        </p>
        <br />
        <div>
          {{ recipe.simplifiedIngredientsList }}
        </div>
      </ion-card-content>

      <ion-button
        expand="full"
        fill="solid"
        class="card-action-button ubuntu-sans-mono"
        (click)="this.addRecipeToBasket(recipe)"
      >
        Add to selection
      </ion-button>
    </ion-card>
    } @else {
    <ion-card>
      <ion-card-header class="veggie">
        <ion-card-title class="ubuntu-sans-mono"
          ><ion-skeleton-text [animated]="true" style="width: 50%"
            ><br /></ion-skeleton-text
        ></ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      </ion-card-header>

      <ion-card-content>
        <ion-skeleton-text
          [animated]="true"
          style="width: 100%; height: 60px"
        ></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header class="veggie">
        <ion-card-title class="ubuntu-sans-mono"
          ><ion-skeleton-text [animated]="true" style="width: 50%"
            ><br /></ion-skeleton-text
        ></ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      </ion-card-header>

      <ion-card-content>
        <ion-skeleton-text
          [animated]="true"
          style="width: 100%; height: 60px"
        ></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header class="veggie">
        <ion-card-title class="ubuntu-sans-mono"
          ><ion-skeleton-text [animated]="true" style="width: 50%"
            ><br /></ion-skeleton-text
        ></ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      </ion-card-header>

      <ion-card-content>
        <ion-skeleton-text
          [animated]="true"
          style="width: 100%; height: 60px"
        ></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    }
  </div>
  <div class="container-portrait"></div>
</ion-content>
<ion-footer><ion-title>Footer</ion-title></ion-footer>
