/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

/* App Color Palette */
:root {
  --app-background-light: #f5f5f5;
  --app-text-dark: #000000;
  --app-accent-orange: #f7aa8f;
  --app-success: #bbb499;
  --app-warning: #d2aa61;
  --app-error: #cf7d52;
}

.ubuntu-sans-mono {
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.kalam {
  font-family: "Kalam", cursive;
  font-style: normal;
}

.toolbar-button {
  width: 150px;
  font-size: small;
  margin-right: 20px;
}

.uppercase {
  text-transform: uppercase;
}

ion-button:hover {
  --background: var(--app-accent-orange) !important;
}

ion-menu ion-button:hover {
  --background: var(--app-accent-orange) !important;
}

.form-input-box {
  text-align: end;
}

.form-input-error {
  color: var(--app-accent-orange);
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

ion-toast.success-toast {
  --background: var(--app-success);
}

ion-toast.warning-toast {
  --background: var(--app-warning);
}

ion-toast.error-toast {
  --background: var(--app-error);
}

ion-toast.custom-toast {
  --border-radius: 0px;
}

ion-toast.custom-toast::part(message) {
  text-transform: uppercase;
  text-align: center;
}
